#security-button {
  list-style-image: url("chrome://browser/skin/Security-broken.png");
  min-width: 20px;
  -moz-box-direction: reverse;
  display: -moz-box;
}

#security-button[level="hip"] {
        list-style-image: url("chrome://browser/skin/Secure.png");
        display: -moz-box;
}
