[Desktop Entry]
Encoding=UTF-8
Name=HIPL Gconf
Comment=Configuration GUI for HIPL daemon
Exec=/usr/sbin/hipagent -b
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME
Icon=hipgconf.png
