Source: hipl
Section: networt
Priority: extra
Maintainer: hummen <rene.hummen@cs.rwth-aachen.de>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.1

Package: hipl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HIP for Linux
