Source: hipl
Version: 1.0
Section: devel
Priority: optional
Maintainer: InfraHIP <infrahip@hiit.fi>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.2
Package: hipl
Architecture: i386
Description: This package contains the necessary tools, libraries and documents
 for the HIP protocol.
