Source: hipl
Version: 1.0
Section: devel
Priority: optional
Maintainer: InfraHIP <infrahip@hiit.fi>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, automake, autoconf, libtool, g++, libgtk2.0-dev, libssl-dev, libxml2-dev, iptables-dev
Standards-Version: 3.6.2
Package: hipl
Replaces: hipl
Architecture: amd64
Description: Host Identity Protocol for Linux
